body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(47,47,47,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

input {
    padding: 8px;
    margin: 5px 0;
}